<div layout-sm="column" layout-md="row">
    <div flex-sm="100" flex-md="50" flex-lg="33">
        <md-card>
            <img src="app/img/headers/1.png" alt="">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Action Buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit.
                    Ipsa dolorem, accusamus cupiditate error sed autem similique,
                    quasi fuga porro necessitatibus obcaecati dolor natus voluptatum velit odit odio enim repellat, nobis.
                </p>    
            </md-card-content>
            <md-card-actions>
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-sm="100" flex-md="50" flex-lg="33">
        <md-card>
            <img src="app/img/headers/1.png" alt="">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Action Buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit.
                    Ipsa dolorem, accusamus cupiditate error sed autem similique,
                    quasi fuga porro necessitatibus obcaecati dolor natus voluptatum velit odit odio enim repellat, nobis.
                </p>    
            </md-card-content>
            <md-card-actions>
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-sm="100" flex-md="50" flex-lg="33">
        <md-card>
            <img src="app/img/headers/1.png" alt="">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Action Buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit.
                    Ipsa dolorem, accusamus cupiditate error sed autem similique,
                    quasi fuga porro necessitatibus obcaecati dolor natus voluptatum velit odit odio enim repellat, nobis.
                </p>    
            </md-card-content>
            <md-card-actions>
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>